<div class="catalogos-container container">
  <header class="page-header text-center">
    <h1>Catálogo de Insumos</h1> <p class="lead">Selecione a categoria de tecnologia agrícola para consultar produtos registrados.</p>
  </header>

  <div class="opcoes-catalogo">
    
    <a routerLink="/biodefensivos" class="opcao-card-link card-biodefensivo">
      <div class="opcao-card">
        <div class="icon-wrapper">
          <i class="fas fa-shield-alt"></i> 
        </div>
        <h2>Biodefensivos e Controle</h2>
        <p>Soluções para proteção de cultivos. Inclui fungicidas, inseticidas, semioquímicos e agentes de controle biológico.</p>
        <span class="fake-btn">Acessar Biodefensivos</span>
      </div>
    </a>

    <a routerLink="/bioestimulantes" class="opcao-card-link card-bioestimulante">
      <div class="opcao-card">
        <div class="icon-wrapper">
          <i class="fas fa-seedling"></i>
        </div>
        <h2>Bioestimulantes e Inoculantes</h2>
        <p>Tecnologias para nutrição e fisiologia. Inclui fixadores de nitrogênio, promotores de crescimento e solubilizadores.</p>
        <span class="fake-btn">Acessar Inoculantes</span>
      </div>
    </a>

  </div>
</div>