<header class="app-header">
  <nav class="app-nav container"> <a routerLink="/home" class="logo">Portal Bioinsumos</a>
    <ul>
      <li><a routerLink="/home" routerLinkActive="active-link">Home</a></li>
      <li><a routerLink="/legislacao" routerLinkActive="active-link">Legislação</a></li>
      <li><a routerLink="/bioinsumos" routerLinkActive="active-link">Bioinsumos</a></li>
    </ul>
  </nav>
</header>

<main class="app-main">
  <router-outlet></router-outlet>
</main>

<footer class="app-footer">
  <div class="container"> <p>&copy; 2025 Portal de Bioinsumos. Todos os direitos reservados.</p>
  </div>
</footer>